<a href="https://colab.research.google.com/github/nakampany/GCI/blob/main/week6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework6
Chapter6の講義資料などで扱った購買データを利用して以下の問いに答えて、課題を提出してください。（データの前処理は、以下の記載の通りに行ってください。）
    
Chapter6の講義資料の総合問題6-1で求めた最も支持度が高かった商品の2つの組み合わせについて、**リフト値**を求めてください。  
最も支持度が高かった商品の`"StockCode"`を、再度求める必要は無く、コード内で直接記入してください。  
<b>`"StockCode"`のデータは事前に文字列に変換してあります．</b>



提出するときは、以下の点に注意してください。  
>- 以下の関数`homework`の`!!WRITE ME!!`に処理を書いてください。(**「`!!WRITE ME!!`」は消して、記入してください。**)
>- 実際の提出は記述された`homework`関数全てになり、**提出はOmnicampus内の宿題の欄から今週の課題を選択後、提出内容に関数を貼り付けてから[Pythonコード提出]を押してください。**
>- `#common`のセルで事前に前処理されたデータ`target_online_retail_data_tb`をそのまま用いてください。
>- 返り値が数値型になるようにしてください。

In [1]:
# common
import pandas as pd
import numpy as np

## init part(データの読み込みと前処理)
file_url = "http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx"
online_retail_data = pd.ExcelFile(file_url)
online_retail_data_table = online_retail_data.parse('Online Retail')

online_retail_data_table['cancel_flg'] = online_retail_data_table.InvoiceNo.map(lambda x:str(x)[0])
online_retail_data_table["StockCode"] = online_retail_data_table["StockCode"].astype(str) 

# 数字があるものとIDがNullでないものが対象
target_online_retail_data_tb = online_retail_data_table[(online_retail_data_table.cancel_flg == '5') 
                                                        & (online_retail_data_table.CustomerID.notnull())]

target_online_retail_data_tb = target_online_retail_data_tb.assign(TotalPrice=target_online_retail_data_tb.Quantity * target_online_retail_data_tb.UnitPrice)

In [2]:
target_online_retail_data_tb

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancel_flg,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,5,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,5,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,5,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,5,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,5,20.34
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,5,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,5,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,5,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,5,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,5,14.85

In [3]:
# StockCode列をstr型に変更
trans = target_online_retail_data_tb.astype({'StockCode': 'str'}) 
# StockCodeごとに件数を数え、上位5件を表示
trans_1 = trans['StockCode'].value_counts().reset_index()
trans_1

       index  StockCode
0     85123A       2035
1      22423       1724
2     85099B       1618
3      84879       1408
4      47566       1397
...      ...        ...
3660   90168          1
3661   90169          1
3662  90202A          1
3663   90118          1
3664   23843          1

[3665 rows x 2 columns]

In [4]:
trans_1000 = trans_1[(trans_1['StockCode'] > 1000)]
trans_1000

     index  StockCode
0   85123A       2035
1    22423       1724
2   85099B       1618
3    84879       1408
4    47566       1397
5    20725       1317
6    22720       1159
7    20727       1105
8     POST       1099
9    23203       1098
10   22383       1083
11   21212       1068
12   22197       1068
13   23209       1029
14   23298       1024
15   22086       1019
16   22382       1008

In [18]:
import itertools
trans_comb = itertools.combinations(trans_1000['index'], 2)
trans_comb

AttributeError: ignored

In [25]:
print(trans_comb)

[('85123A', '22423'), ('85123A', '85099B'), ('85123A', '84879'), ('85123A', '47566'), ('85123A', '20725'), ('85123A', '22720'), ('85123A', '20727'), ('85123A', 'POST'), ('85123A', '23203'), ('85123A', '22383'), ('85123A', '21212'), ('85123A', '22197'), ('85123A', '23209'), ('85123A', '23298'), ('85123A', '22086'), ('85123A', '22382'), ('22423', '85099B'), ('22423', '84879'), ('22423', '47566'), ('22423', '20725'), ('22423', '22720'), ('22423', '20727'), ('22423', 'POST'), ('22423', '23203'), ('22423', '22383'), ('22423', '21212'), ('22423', '22197'), ('22423', '23209'), ('22423', '23298'), ('22423', '22086'), ('22423', '22382'), ('85099B', '84879'), ('85099B', '47566'), ('85099B', '20725'), ('85099B', '22720'), ('85099B', '20727'), ('85099B', 'POST'), ('85099B', '23203'), ('85099B', '22383'), ('85099B', '21212'), ('85099B', '22197'), ('85099B', '23209'), ('85099B', '23298'), ('85099B', '22086'), ('85099B', '22382'), ('84879', '47566'), ('84879', '20725'), ('84879', '22720'), ('84879', '20727'), ('84879', 'POST'), ('84879', '23203'), ('84879', '22383'), ('84879', '21212'), ('84879', '22197'), ('84879', '23209'), ('84879', '23298'), ('84879', '22086'), ('84879', '22382'), ('47566', '20725'), ('47566', '22720'), ('47566', '20727'), ('47566', 'POST'), ('47566', '23203'), ('47566', '22383'), ('47566', '21212'), ('47566', '22197'), ('47566', '23209'), ('47566', '23298'), ('47566', '22086'), ('47566', '22382'), ('20725', '22720'), ('20725', '20727'), ('20725', 'POST'), ('20725', '23203'), ('20725', '22383'), ('20725', '21212'), ('20725', '22197'), ('20725', '23209'), ('20725', '23298'), ('20725', '22086'), ('20725', '22382'), ('22720', '20727'), ('22720', 'POST'), ('22720', '23203'), ('22720', '22383'), ('22720', '21212'), ('22720', '22197'), ('22720', '23209'), ('22720', '23298'), ('22720', '22086'), ('22720', '22382'), ('20727', 'POST'), ('20727', '23203'), ('20727', '22383'), ('20727', '21212'), ('20727', '22197'), ('20727', '23209'), ('20727', '23298'), ('20727', '22086'), ('20727', '22382'), ('POST', '23203'), ('POST', '22383'), ('POST', '21212'), ('POST', '22197'), ('POST', '23209'), ('POST', '23298'), ('POST', '22086'), ('POST', '22382'), ('23203', '22383'), ('23203', '21212'), ('23203', '22197'), ('23203', '23209'), ('23203', '23298'), ('23203', '22086'), ('23203', '22382'), ('22383', '21212'), ('22383', '22197'), ('22383', '23209'), ('22383', '23298'), ('22383', '22086'), ('22383', '22382'), ('21212', '22197'), ('21212', '23209'), ('21212', '23298'), ('21212', '22086'), ('21212', '22382'), ('22197', '23209'), ('22197', '23298'), ('22197', '22086'), ('22197', '22382'), ('23209', '23298'), ('23209', '22086'), ('23209', '22382'), ('23298', '22086'), ('23298', '22382'), ('22086', '22382')]

In [31]:
# すべてのInvoiceNoをtrans_allとして抽出
trans_all = set(target_online_retail_data_tb.InvoiceNo)

pair = 0
support = -9999

for i, j in itertools.combinations(trans_comb, 2):
  trans_1 = set(trans[trans['StockCode']==j[0]].InvoiceNo)
  trans_2 = set(trans[trans['StockCode']==j[1]].InvoiceNo)
  trans_12 = trans_1 & trans_2

  if support <= len(trans_12):
    support = len(trans_12)
    pair = j

print(pair, support)

85123A 22423 0.01267803193785067
85123A 85099B 0.013595166163141994
85123A 84879 0.014620198532585239
85123A 47566 0.015051791109192922
85099B 20725 0.022928355632283126
85099B 23203 0.025248165731549418
20725 20727 0.02789167026327147
20725 22383 0.027999568407423393

In [32]:
# レコード数が1,000より多い商品（StockCode）を対象とする
stocknum = target_online_retail_data_tb['StockCode'].value_counts().reset_index()
stocknum = stocknum[stocknum['StockCode'] >= 1000]
stocknum = stocknum.set_index('index')
popgoods = list(stocknum.index)

# すべてのInvoiceNoをtrans_allとして抽出
trans_all = set(target_online_retail_data_tb["InvoiceNo"])

# 支持度が最大になる組合せを調べる
import itertools # itertools

max_support = 0
for i,j in itertools.combinations(popgoods, 2):
    trans_i = set(target_online_retail_data_tb[target_online_retail_data_tb['StockCode'] == i]["InvoiceNo"])
    trans_j = set(target_online_retail_data_tb[target_online_retail_data_tb['StockCode'] == j]["InvoiceNo"])
    trans_ij = trans_i&trans_j
    
    if len(trans_ij)/len(trans_all) > max_support:
        max_support = len(trans_ij)/len(trans_all)
        print(i, j, max_support)

85123A 22423 0.01267803193785067
85123A 85099B 0.013595166163141994
85123A 84879 0.014620198532585239
85123A 47566 0.015051791109192922
85099B 20725 0.022928355632283126
85099B 23203 0.025248165731549418
20725 20727 0.02789167026327147
20725 22383 0.027999568407423393

In [ ]:
20725,22383

In [28]:
target_online_retail_data_tb

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancel_flg,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,5,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,5,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,5,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,5,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,5,20.34
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,5,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,5,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,5,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,5,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,5,14.85

In [43]:
# working place. everything 
import pandas as pd
import numpy as np

## init part(データの読み込みと前処理)
file_url = "http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx"
online_retail_data = pd.ExcelFile(file_url)
online_retail_data_table = online_retail_data.parse('Online Retail')

online_retail_data_table['cancel_flg'] = online_retail_data_table.InvoiceNo.map(lambda x:str(x)[0])
online_retail_data_table["StockCode"] = online_retail_data_table["StockCode"].astype(str) 

# 数字があるものとIDがNullでないものが対象
target_online_retail_data_tb = online_retail_data_table[(online_retail_data_table.cancel_flg == '5') 
                                                        & (online_retail_data_table.CustomerID.notnull())]

target_online_retail_data_tb = target_online_retail_data_tb.assign(TotalPrice=target_online_retail_data_tb.Quantity * target_online_retail_data_tb.UnitPrice)

In [46]:
def homework(target_online_retail_data_tb):

    # すべてのInvoiceNoをtrans_allとして抽出
    trans_all = set(target_online_retail_data_tb.InvoiceNo)

    # 商品85123Aを購入したデータをtrans_aとする
    trans_a = set(target_online_retail_data_tb[target_online_retail_data_tb['StockCode']=='20725'].InvoiceNo)

    # 商品85099Bを購入したデータをtrans_bとする
    trans_b = set(target_online_retail_data_tb[target_online_retail_data_tb['StockCode']=='22383'].InvoiceNo)

    # 商品85123Aおよび85099Bを購入したデータをtrans_abとする
    trans_ab = trans_a & trans_b

    # 全体のバスケットに占める商品Bの購買率を計算
    support_b = len(trans_b) / len(trans_all)

    # 商品Aを購買したときの商品Bの購買率を計算
    confidence = len(trans_ab) / len(trans_a)

    # リスト値を計算
    my_result = confidence / support_b

    return my_result

In [47]:
url = target_online_retail_data_tb

homework(url)

7.155601605739843

**謝辞**：以下のデータセットの利用に関して  
 https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx

引用元：Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [[http://archive.ics.uci.edu/ml](http://archive.ics.uci.edu/ml)]. Irvine, CA: University of California, School of Information and Computer Science.
 
Daqing Chen, Sai Liang Sain, and Kun Guo, Data mining for the online retail industry: A case study of RFM model-based customer segmentation using data mining, Journal of Database Marketing and Customer Strategy Management, Vol. 19, No. 3, pp. 197â€“208, 2012 (Published online before print: 27 August 2012. doi: 10.1057/dbm.2012.17).